services:
  comfyui:
    build: .
    container_name: comfyui
    restart: unless-stopped

    ports:
      - "8188:8188"

    environment:
      - TLS_KEYFILE=/app/ComfyUI/certs/key.pem
      - TLS_CERTFILE=/app/ComfyUI/certs/cert.pem
      # - CUDA_VISIBLE_DEVICES=0

    volumes:
      - ./data/custom_nodes:/app/ComfyUI/custom_nodes
      - ./data/user:/app/ComfyUI/user
      - ./data/models:/app/ComfyUI/models
      - ./data/input:/app/ComfyUI/input
      - ./data/output:/app/ComfyUI/output
      - ./certs:/app/ComfyUI/certs

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
